#root {
  max-width: 1280px;
  margin: 0 auto;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.input-hover {
  transition: border-color 0.3s ease, box-shadow 0.3s ease;
}

.input-hover:hover,
.input-hover:focus {
  border-color: #4CAF93 !important;
  box-shadow: 0 0 0 0.2rem rgba(76, 175, 147, 0.25);
}

.banner-container {
  max-width: 100%;
  overflow: hidden;
  padding: 0;
}

.me-2 {
    text-align: left !important;

}

.nav-link-custom {
  color: #ccc;
  margin-right: 1rem;
  transition: all 0.3s ease;
  text-decoration: none !important;
}

.nav-link-custom:hover {
  color: #fff;
}

.nav-link-custom.active {
  color: #4CAF93;
  font-weight: bold;
}