.nav-link-custom {
    color: #ccc !important;
    margin-right: 1rem;
    transition: all 0.3s ease;
  }

  .nav-link-custom:hover {
    color: #ffffff !important;
  }

  .nav-link-custom.active {
    color: #4CAF93 !important;
    font-weight: bold;
  }